In [34]:
#pip install seaborn
#pip install statsmodels
#pip install lightgbm
#pip install skforecast

In [35]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
import numpy as np

In [36]:
# Parche
def monkey_patch_get_signature_names_out():
    """Monkey patch some classes which did not handle get_feature_names_out()
       correctly in 1.0.0."""
    from inspect import Signature, signature, Parameter
    from sklearn.impute import SimpleImputer
    from sklearn.pipeline import make_pipeline, Pipeline
    from sklearn.preprocessing import FunctionTransformer, StandardScaler

    default_get_feature_names_out = StandardScaler.get_feature_names_out

    if not hasattr(SimpleImputer, "get_feature_names_out"):
      print("Monkey-patching SimpleImputer.get_feature_names_out()")
      SimpleImputer.get_feature_names_out = default_get_feature_names_out

    if not hasattr(FunctionTransformer, "get_feature_names_out"):
        print("Monkey-patching FunctionTransformer.get_feature_names_out()")
        orig_init = FunctionTransformer.__init__
        orig_sig = signature(orig_init)

        def __init__(*args, feature_names_out=None, **kwargs):
            orig_sig.bind(*args, **kwargs)
            orig_init(*args, **kwargs)
            args[0].feature_names_out = feature_names_out

        __init__.__signature__ = Signature(
            list(signature(orig_init).parameters.values()) + [
                Parameter("feature_names_out", Parameter.KEYWORD_ONLY)])

        def get_feature_names_out(self, names=None):
            if self.feature_names_out is None:
                return default_get_feature_names_out(self, names)
            elif callable(self.feature_names_out):
                return self.feature_names_out(names)
            else:
                return self.feature_names_out

        FunctionTransformer.__init__ = __init__
        FunctionTransformer.get_feature_names_out = get_feature_names_out

monkey_patch_get_signature_names_out()

In [37]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [38]:
# Equipo 3
# Importación de librerias
host = "topline.dwh.suite.ghp.mx"
user = "tec_A01625268"
password = "CfXcD1AYf6!&gJa6"
database = "dwh"
connection_string = f'mysql+pymysql://{user}:{password}@{host}:3306/{database}'
%sql $connection_string

import pandas as pd
import numpy as np

from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler, OneHotEncoder 
from sklearn.impute import SimpleImputer 
from sklearn.compose import make_column_transformer 
from sklearn.model_selection import train_test_split

1a. Selecciona tus variables dependientes (Y) e independientes (X)

1b. Verifica bien de qué tipo son las variables.

    Region [categorica] independiente
    Ciudad [categorica] independiente
    Estado [categorica] independiente

    Chain [categorica] independiente
    Brand [categorica] independiente

    Occupancy [numérica] independiente/dependiente
    Revenue [numérica] dependiente

1c. Verifica si necesitan algún proceso de estandarización y balanceo.
    StandardScaler()
    RobustScaler()    
    MinMaxScaler()

In [39]:
%%sql
show tables

 * mysql+pymysql://tec_A01625268:***@topline.dwh.suite.ghp.mx:3306/dwh
11 rows affected.

[('DM_Brands',),
 ('DM_Business_Dates',),
 ('DM_Chains',),
 ('DM_Cities',),
 ('DM_Countries',),
 ('DM_Currencies',),
 ('DM_Regions',),
 ('DM_States',),
 ('DM_Venues',),
 ('DM_Verticals',),
 ('FT_Nights',)]

In [40]:
# # DM_Brands DataFrame
# df_DM_Brands = %sql SELECT * FROM DM_Brands
# df_DM_Brands = df_DM_Brands.DataFrame()

# # DM_Business_Dates DataFrame
# df_DM_Business_Dates = %sql SELECT * FROM DM_Business_Dates
# df_DM_Business_Dates = df_DM_Business_Dates.DataFrame()

# # DM_Chains DataFrame
# df_DM_Chains = %sql SELECT * FROM DM_Chains
# df_DM_Chains = df_DM_Chains.DataFrame()

# # DM_Cities DataFrame
# df_DM_Cities = %sql SELECT * FROM DM_Cities
# df_DM_Cities = df_DM_Cities.DataFrame()

# # DM_Countries DataFrame
# df_DM_Countries = %sql SELECT * FROM DM_Countries
# df_DM_Countries = df_DM_Countries.DataFrame()

# # DM_Currencies DataFrame
# df_DM_Currencies = %sql SELECT * FROM DM_Currencies
# df_DM_Currencies = df_DM_Currencies.DataFrame()

# # DM_Regions DataFrame
# df_DM_Regions = %sql SELECT * FROM DM_Regions
# df_DM_Regions = df_DM_Regions.DataFrame()

# # DM_States DataFrame
# df_DM_States = %sql SELECT * FROM DM_States
# df_DM_States = df_DM_States.DataFrame()

# # DM_Venues DataFrame
# df_DM_Venues = %sql SELECT * FROM DM_Venues
# df_DM_Venues = df_DM_Venues.DataFrame()

# # DM_Verticals DataFrame
# df_DM_Verticals = %sql SELECT * FROM DM_Verticals
# df_DM_Verticals = df_DM_Verticals.DataFrame()

# # FT_Nights DataFrame
# df_Ft_Nights = %sql SELECT * FROM FT_Nights
# df_Ft_Nights = df_Ft_Nights.DataFrame()

# # FT_Nights DataFrame
# df_Ft_Nights = %sql SELECT * FROM FT_Nights
# df_Ft_Nights = df_Ft_Nights.DataFrame()

# Final DataFrame
df_Final = %sql select DV.name, FT_Nights.rooms_occupied, DV.available_rooms, FT_Nights.rooms_revenue, DBD.business_date, DBD.week_day_name, DBD.day, DBD.month, DBD.year, DV.postal_code from FT_Nights inner join DM_Business_Dates DBD on FT_Nights.business_date_id = DBD.business_date_id inner join DM_Venues DV on FT_Nights.venue_id = DV.venue_id where FT_Nights.rooms_occupied <= FT_Nights.rooms_available and not FT_Nights.venue_id = 51 and not FT_Nights.venue_id = 54
df_Final = df_Final.DataFrame()

 * mysql+pymysql://tec_A01625268:***@topline.dwh.suite.ghp.mx:3306/dwh
46718 rows affected.

In [44]:
df_Final

,name,rooms_occupied,available_rooms,rooms_revenue,business_date,week_day_name,day,month,year,postal_code
0,Wyndham Garden Celaya,0,150,0.00000,2020-01-01,Wednesday,1,1,2020,38017
1,Wyndham Garden Celaya,0,150,0.00000,2020-01-02,Thursday,2,1,2020,38017
2,Wyndham Garden Celaya,0,150,0.00000,2020-01-03,Friday,3,1,2020,38017
3,Wyndham Garden Celaya,0,150,0.00000,2020-01-04,Saturday,4,1,2020,38017
4,Wyndham Garden Celaya,0,150,0.00000,2020-01-05,Sunday,5,1,2020,38017
...,...,...,...,...,...,...,...,...,...,...
46713,Hampton by Hilton Torreón Aeropuerto,117,151,135409.78000,2022-05-27,Friday,27,5,2022,27019
46714,Hampton by Hilton Torreón Aeropuerto,134,151,150032.43000,2022-05-28,Saturday,28,5,2022,27019
46715,Hampton by Hilton Torreón Aeropuerto,55,151,54719.17000,2022-05-29,Sunday,29,5,2022,27019
46716,Hampton by Hilton Torreón Aeropuerto,58,151,59964.21000,2022-05-30,Monday,30,5,2022,27019
46717,Hampton by Hilton Torreón Aeropuerto,104,151,112550.25000,2022-05-31,Tuesday,31,5,2022,27019

In [42]:
df_date = df_Final.business_date
df_date

0        2020-01-01
1        2020-01-02
2        2020-01-03
3        2020-01-04
4        2020-01-05
            ...
46713    2022-05-27
46714    2022-05-28
46715    2022-05-29
46716    2022-05-30
46717    2022-05-31
Name: business_date, Length: 46718, dtype: object

In [ ]:
df_hours = []
for i in df_date:
    df_hours += pd.bdate_range(df_date[i],df_date[i],freq='H')

In [ ]:
df_Final = df_Final.set_index('business_date')
df_Final = df_Final.asfreq('30min').index
df_Final = df_Final.sort_index()
df_Final

In [ ]:
df_Final.business_date = pd.to_datetime(df_Final.business_date) # data['Time']

In [ ]:
df_Final[df_Final.index.duplicated()]

In [ ]:
df_Final

2a. A nivel anual:
    2ai. Explora los datos para buscar patrones de estacionalidad
    2aii. Explora los datos para buscar tendencias
    2aiii. Explora los datos para buscar si hay presencia de ruido

2b. A nivel mensual:
    2bi. Explora los datos para buscar patrones de estacionalidad
    2bii. Explora los datos para buscar tendencias
    2biii. Explora los datos para buscar si hay presencia de ruido

2c. A nivel semanal:
    2ci. Explora los datos para buscar patrones de estacionalidad
    2cii. Explora los datos para buscar tendencias
    2ciii. Explora los datos para buscar si hay presencia de ruido

2d. A nivel diario:
    2di. Explora los datos para buscar patrones de estacionalidad
    2dii. Explora los datos para buscar tendencias
    2diii. Explora los datos para buscar si hay presencia de ruido

In [ ]:
# Spliting data
df_Final = df_Final.loc['2020-01-01': '2022-03-31']
end_train = '2021-03-31'
end_validation = '2021-10-31'
df_Final_train = df_Final.loc[: end_train, :]
df_Final_val   = df_Final.loc[end_train:end_validation, :]
df_Final_test  = df_Final.loc[end_validation:, :]

print(f"Train dates      : {df_Final_train.index.min()} --- {df_Final_train.index.max()}")
print(f"Validation dates : {df_Final_val.index.min()} --- {df_Final_val.index.max()}")
print(f"Test dates       : {df_Final_test.index.min()} --- {df_Final_test.index.max()}")

In [ ]:
from matplotlib import pyplot as plt
fig, ax = plt.subplots(figsize=(12, 4))
df_Final_train.rooms_occupied.plot(ax=ax, label='train', linewidth=1)
df_Final_val.rooms_occupied.plot(ax=ax, label='validation', linewidth=1)
df_Final_test.rooms_occupied.plot(ax=ax, label='test', linewidth=1)
ax.set_title('rooms_occupied')
ax.legend();

In [ ]:
# Zooming time series chart
# ==============================================================================
zoom = ('2020-07-01','2020-12-01')

fig = plt.figure(figsize=(12, 6))
grid = plt.GridSpec(nrows=8, ncols=1, hspace=0.6, wspace=0)

main_ax = fig.add_subplot(grid[1:3, :])
zoom_ax = fig.add_subplot(grid[5:, :])

df_Final.rooms_occupied.plot(ax=main_ax, c='black', alpha=0.5, linewidth=0.5)
min_y = min(df_Final.rooms_occupied)
max_y = max(df_Final.rooms_occupied)
main_ax.fill_between(zoom, min_y, max_y, facecolor='blue', alpha=0.5, zorder=0)
main_ax.set_xlabel('')

df_Final.loc[zoom[0]: zoom[1]].rooms_occupied.plot(ax=zoom_ax, color='blue', linewidth=2)

main_ax.set_title(f'rooms_occupied: {df_Final.index.min()}, {df_Final.index.max()}', fontsize=14)
zoom_ax.set_title(f'rooms_occupied: {zoom}', fontsize=14)
plt.subplots_adjust(hspace=1)

In [ ]:
# Boxplot for annual seasonality
# ==============================================================================
fig, ax = plt.subplots(figsize=(7, 3.5))
df_Final['month'] = df_Final.index.month
df_Final.boxplot(column='rooms_occupied', by='month', ax = ax)
df_Final.groupby('month')['rooms_occupied'].median().plot(style='o-', linewidth=0.8, ax=ax)
plt.setp(plt.gca(),ylim=(0,400))
ax.set_ylabel('rooms_occupied')
ax.set_title('rooms_occupied distribution by month')
fig.suptitle('');

In [ ]:
# Boxplot for weekly seasonality (1=monday, 7=sunday)
# ==============================================================================
fig, ax = plt.subplots(figsize=(7, 3.5))
df_Final['week_day_name'] = df_Final.index.day_of_week + 1
df_Final.boxplot(column='rooms_occupied', by='week_day_name', ax=ax)
df_Final.groupby('week_day_name')['rooms_occupied'].median().plot(style='o-', linewidth=0.8, ax=ax)
plt.setp(plt.gca(),ylim=(0,400))
ax.set_ylabel('rooms_occupied')
ax.set_title('rooms_occupied distribution by week day')
fig.suptitle('');

In [ ]:
df_Final

In [ ]:
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
import lightgbm as lgb
from lightgbm import LGBMRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
from skforecast.ForecasterAutoreg import ForecasterAutoreg
from skforecast.ForecasterAutoregMultiOutput import ForecasterAutoregMultiOutput
from skforecast.model_selection import grid_search_forecaster
from skforecast.model_selection import backtesting_forecaster

In [ ]:
# Spliting data
df_Final = df_Final.loc['2020-01-01': '2022-03-31']
end_train = '2021-03-31'
end_validation = '2021-10-31'
df_Final_train = df_Final.loc[: end_train, :]
df_Final_val   = df_Final.loc[end_train:end_validation, :]
df_Final_test  = df_Final.loc[end_validation:, :]

print(f"Train dates      : {df_Final_train.index.min()} --- {df_Final_train.index.max()}")
print(f"Validation dates : {df_Final_val.index.min()} --- {df_Final_val.index.max()}")
print(f"Test dates       : {df_Final_test.index.min()} --- {df_Final_test.index.max()}")

In [ ]:
forecaster = ForecasterAutoreg(regressor = make_pipeline(StandardScaler(), Ridge()),lags = 24)
forecaster2 = ForecasterAutoreg(regressor = make_pipeline(StandardScaler(), KNeighborsRegressor()),lags = 24)
forecaster3 = ForecasterAutoreg(regressor = make_pipeline(StandardScaler(), DecisionTreeRegressor()),lags = 24)

#forecaster = ForecasterAutoreg(regressor = make_pipeline(StandardScaler(), DecisionTreeRegressor()),lags = 24)
forecaster.fit(y=df_Final_train.loc[:, 'rooms_occupied'])
forecaster2.fit(y=df_Final_train.loc[:, 'rooms_occupied'])
forecaster3.fit(y=df_Final_train.loc[:, 'rooms_occupied'])

print(forecaster)
print(forecaster2)
print(forecaster3)

In [ ]:
# Backtest Ridge
# ==============================================================================
metric, predictions = backtesting_forecaster(
                            forecaster = forecaster,
                            y          = df_Final.rooms_occupied,
                            initial_train_size = len(df_Final.loc[:end_validation]),
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = True
                       )

In [ ]:
# Plot1
# ==============================================================================
fig, ax = plt.subplots(figsize=(12, 3.5))
df_Final.loc[predictions.index, 'rooms_occupied'].plot(ax=ax, linewidth=2, label='real')
predictions.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real demand')
ax.legend();

In [ ]:
# Backtest KNeighborsRegressor
# ==============================================================================
metric2, predictions2 = backtesting_forecaster(
                            forecaster = forecaster2,
                            y          = df_Final.rooms_occupied,
                            initial_train_size = len(df_Final.loc[:end_validation]),
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = True
                       )

In [ ]:
num_attribs = ["occupancy", "revenue"]
#cat_attribs = ["chain", "brand", "region", "city", "state"]

# Pipeline para las columnas numéricas
basic_num_pipeline = make_pipeline(SimpleImputer(strategy='median'), StandardScaler())

# Pipeline para las columnas categoricas
basic_cat_pipeline = make_pipeline(SimpleImputer(strategy='most_frequent'), OneHotEncoder(handle_unknown='ignore'))

# Pipeline de preprocesamiento integrado
basic_preprocessing = make_column_transformer((basic_num_pipeline, num_attribs), (basic_cat_pipeline, cat_attribs))

In [ ]:
# Preprocesamiento de datos
descriptors = ['occupancy', 'revenue'] 

labels = ['???']

X_train, X_test, y_train, y_test = train_test_split(housing[descriptors], housing[labels], train_size=0.8)

In [ ]:
# Transformamos los datos
housing_train_prep_array = basic_preprocessing.fit_transform(X_train)

3. Entrena al menos 2 modelos tanto en su versión autoregresiva como multi-paso y realiza el proceso de ajuste fino con grid search para encontrar las mejores versiones de los modelos seleccionados.

4. Identifica las métricas de rendimiento y precisión que podrías utilizar para la validación de los modelos. Reporta los resultados de las métricas que hayas obtenido.

In [ ]:
#Calcular precisión
print(metrics.accuracy_score(y_test, y_pred))

In [ ]:
#Examine la distribución de clases del conjunto de prueba (usando un método de la serie Pandas)
y_test.value_counts()

In [ ]:
#Calcular el porcentaje de unos
#Debido a que y_test solo contiene unos y ceros, simplemente podemos calcular la media = porcentaje de unos
y_test.mean()

In [ ]:
#Calcular el porcentaje de ceros
1 - y_test.mean()

In [ ]:
#Calcular precisión nula en una sola línea de código
#Solo para problemas de clasificación binaria codificados como 0/1
max(y_test.mean(), 1 - y_test.mean())

In [ ]:
#Calcular precisión nula (para problemas de clasificación multiclase)
y_test.value_counts().head(1) / len(y_test)

In [ ]:
#Imprimir las primeras 25 respuestas verdaderas y predichas
print('True:', y_test.values[0:25])
print('False:', y_pred[0:25])

In [ ]:
#IMPORTANTE: el primer argumento son valores verdaderos, el segundo argumento son valores predichos
#Esto produce una matriz numpy de 2x2 (matriz)
print(metrics.confusion_matrix(y_test, y_pred))

In [ ]:
#Imprimir las primeras 25 respuestas verdaderas y predichas
print('True', y_test.values[0:25])
print('Pred', y_pred[0:25])

In [ ]:
#Guarde la matriz de confusión y córtela en cuatro partes
confusion = metrics.confusion_matrix(y_test, y_pred)
print(confusion)
#[row, column]
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]

In [ ]:
#Usar float para realizar una división verdadera, no una división entera
print((TP + TN) / float(TP + TN + FP + FN))
print(metrics.accuracy_score(y_test, y_pred))

In [ ]:
classification_error = (FP + FN) / float(TP + TN + FP + FN)

print(classification_error)
print(1 - metrics.accuracy_score(y_test, y_pred))

In [ ]:
y_train_preds = lin_reg.predict(X_train)
lin_reg_mae = mean_absolute_error(y_train, y_train_preds)
print("MAE (train): ", lin_reg_mae)

In [ ]:
precision = TP / float(TP + FP)

print(precision)
print(metrics.precision_score(y_test, y_pred))