**INSTITUTO TECNOLÓGICO Y DE ESTUDIOS SUPERIORES DE MONTERREY**

*TI3003B.301 Aplicación de analítica y gobierno de datos (Gpo 301)*

Evidencia 3. Análisis con Aprendizaje Automático (Machine Learning)



---


Michelle Andrea Arceo Solano        Tecnológico de Monterrey, Campus AGS        a01625268@tec.mx 
Valeria Cortez Carreón              Tecnológico de Monterrey, Campus GDL        a00571474@tec.mx 
Bernardo López Rosso                Tecnológico de Monterrey, Campus GDL        a01625349@tec.mx 
Matías Kochlowski                   Tecnológico de Monterrey, Campus AGS        a01625364@tec.mx

In [1]:
#pip install seaborn
#pip install statsmodels
#pip install lightgbm
#pip install skforecast
#pip install holidays

In [2]:
# Importación de librerias
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import holidays
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf

from sklearn.pipeline import make_pipeline 
from sklearn.preprocessing import StandardScaler, OneHotEncoder 
from sklearn.impute import SimpleImputer 
from sklearn.compose import make_column_transformer 
from sklearn.model_selection import train_test_split

In [3]:
# Parche
def monkey_patch_get_signature_names_out():
    """Monkey patch some classes which did not handle get_feature_names_out()
       correctly in 1.0.0."""
    from inspect import Signature, signature, Parameter
    from sklearn.impute import SimpleImputer
    from sklearn.pipeline import make_pipeline, Pipeline
    from sklearn.preprocessing import FunctionTransformer, StandardScaler

    default_get_feature_names_out = StandardScaler.get_feature_names_out

    if not hasattr(SimpleImputer, "get_feature_names_out"):
      print("Monkey-patching SimpleImputer.get_feature_names_out()")
      SimpleImputer.get_feature_names_out = default_get_feature_names_out

    if not hasattr(FunctionTransformer, "get_feature_names_out"):
        print("Monkey-patching FunctionTransformer.get_feature_names_out()")
        orig_init = FunctionTransformer.__init__
        orig_sig = signature(orig_init)

        def __init__(*args, feature_names_out=None, **kwargs):
            orig_sig.bind(*args, **kwargs)
            orig_init(*args, **kwargs)
            args[0].feature_names_out = feature_names_out

        __init__.__signature__ = Signature(
            list(signature(orig_init).parameters.values()) + [
                Parameter("feature_names_out", Parameter.KEYWORD_ONLY)])

        def get_feature_names_out(self, names=None):
            if self.feature_names_out is None:
                return default_get_feature_names_out(self, names)
            elif callable(self.feature_names_out):
                return self.feature_names_out(names)
            else:
                return self.feature_names_out

        FunctionTransformer.__init__ = __init__
        FunctionTransformer.get_feature_names_out = get_feature_names_out

monkey_patch_get_signature_names_out()

Monkey-patching SimpleImputer.get_feature_names_out()
Monkey-patching FunctionTransformer.get_feature_names_out()

In [4]:
# Cargar extensión sql
%load_ext sql

In [5]:
# Conexión a la base de datos
host = "topline.dwh.suite.ghp.mx"
user = ""
password = ""
database = "dwh"
connection_string = f'mysql+pymysql://{user}:{password}@{host}:3306/{database}'
%sql $connection_string

Verifica bien de qué tipo son las variables.

    Region [categorica] independiente
    Ciudad [categorica] independiente
    Estado [categorica] independiente

    Chain [categorica] independiente
    Brand [categorica] independiente

    Occupancy [numérica] independiente/dependiente
    Revenue [numérica] dependiente

Verifica si necesitan algún proceso de estandarización y balanceo.
    StandardScaler()
    RobustScaler()    
    MinMaxScaler()

In [6]:
%%sql
show tables

 * mysql+pymysql://tec_A01625268:***@topline.dwh.suite.ghp.mx:3306/dwh
11 rows affected.

[('DM_Brands',),
 ('DM_Business_Dates',),
 ('DM_Chains',),
 ('DM_Cities',),
 ('DM_Countries',),
 ('DM_Currencies',),
 ('DM_Regions',),
 ('DM_States',),
 ('DM_Venues',),
 ('DM_Verticals',),
 ('FT_Nights',)]

In [7]:
# # DM_Brands DataFrame
# df_DM_Brands = %sql SELECT * FROM DM_Brands
# df_DM_Brands = df_DM_Brands.DataFrame()

# # DM_Business_Dates DataFrame
# df_DM_Business_Dates = %sql SELECT * FROM DM_Business_Dates
# df_DM_Business_Dates = df_DM_Business_Dates.DataFrame()

# # DM_Chains DataFrame
# df_DM_Chains = %sql SELECT * FROM DM_Chains
# df_DM_Chains = df_DM_Chains.DataFrame()

# # DM_Cities DataFrame
# df_DM_Cities = %sql SELECT * FROM DM_Cities
# df_DM_Cities = df_DM_Cities.DataFrame()

# # DM_Countries DataFrame
# df_DM_Countries = %sql SELECT * FROM DM_Countries
# df_DM_Countries = df_DM_Countries.DataFrame()

# # DM_Currencies DataFrame
# df_DM_Currencies = %sql SELECT * FROM DM_Currencies
# df_DM_Currencies = df_DM_Currencies.DataFrame()

# # DM_Regions DataFrame
# df_DM_Regions = %sql SELECT * FROM DM_Regions
# df_DM_Regions = df_DM_Regions.DataFrame()

# # DM_States DataFrame
# df_DM_States = %sql SELECT * FROM DM_States
# df_DM_States = df_DM_States.DataFrame()

# # DM_Venues DataFrame
# df_DM_Venues = %sql SELECT * FROM DM_Venues
# df_DM_Venues = df_DM_Venues.DataFrame()

# # DM_Verticals DataFrame
# df_DM_Verticals = %sql SELECT * FROM DM_Verticals
# df_DM_Verticals = df_DM_Verticals.DataFrame()

# # FT_Nights DataFrame
# df_Ft_Nights = %sql SELECT * FROM FT_Nights
# df_Ft_Nights = df_Ft_Nights.DataFrame()

# # FT_Nights DataFrame
# df_Ft_Nights = %sql SELECT * FROM FT_Nights
# df_Ft_Nights = df_Ft_Nights.DataFrame()

# Final DataFrame
df_Final = %sql select DV.name, FT_Nights.rooms_occupied, DV.available_rooms, FT_Nights.rooms_revenue, DBD.business_date, DBD.week_day_name, DBD.day, DBD.month, DBD.year, DV.postal_code from FT_Nights inner join DM_Business_Dates DBD on FT_Nights.business_date_id = DBD.business_date_id inner join DM_Venues DV on FT_Nights.venue_id = DV.venue_id WHERE FT_Nights.rooms_occupied <= FT_Nights.rooms_available AND NOT FT_Nights.venue_id = 51 AND NOT FT_Nights.venue_id = 54 AND FT_Nights.currency_id = 1
df_Final = df_Final.DataFrame()

 * mysql+pymysql://tec_A01625268:***@topline.dwh.suite.ghp.mx:3306/dwh
46718 rows affected.

In [8]:
#Muestra DataFrame
df_Final

,name,rooms_occupied,available_rooms,rooms_revenue,business_date,week_day_name,day,month,year,postal_code
0,Wyndham Garden Celaya,0,150,0.00000,2020-01-01,Wednesday,1,1,2020,38017
1,Wyndham Garden Celaya,0,150,0.00000,2020-01-02,Thursday,2,1,2020,38017
2,Wyndham Garden Celaya,0,150,0.00000,2020-01-03,Friday,3,1,2020,38017
3,Wyndham Garden Celaya,0,150,0.00000,2020-01-04,Saturday,4,1,2020,38017
4,Wyndham Garden Celaya,0,150,0.00000,2020-01-05,Sunday,5,1,2020,38017
...,...,...,...,...,...,...,...,...,...,...
46713,Hampton by Hilton Torreón Aeropuerto,117,151,135409.78000,2022-05-27,Friday,27,5,2022,27019
46714,Hampton by Hilton Torreón Aeropuerto,134,151,150032.43000,2022-05-28,Saturday,28,5,2022,27019
46715,Hampton by Hilton Torreón Aeropuerto,55,151,54719.17000,2022-05-29,Sunday,29,5,2022,27019
46716,Hampton by Hilton Torreón Aeropuerto,58,151,59964.21000,2022-05-30,Monday,30,5,2022,27019
46717,Hampton by Hilton Torreón Aeropuerto,104,151,112550.25000,2022-05-31,Tuesday,31,5,2022,27019

In [9]:
df_Final['business_date'] = pd.to_datetime(df_Final['business_date'])

In [11]:
df_Final.dtypes

name                       object
rooms_occupied              int64
available_rooms             int64
rooms_revenue              object
business_date      datetime64[ns]
week_day_name              object
day                         int64
month                       int64
year                        int64
postal_code                object
holidays                     bool
dtype: object

In [12]:
import holidays
#df_Final.insert(1, "holidays")

#df_Final['holidays'] = df_Final['business_date'].isin(holidays.MX())
df_Final
df_Final['holidays'] = df_Final['business_date'].dt.date.astype('datetime64').isin(holidays.MX())
#df_Final['holidays'] = df_Final['business_date'].isin(mexico_holiday)

In [14]:
# Print all the holidays in UnitedKingdom in year 2018
for ptr in holidays.MX(years = 2022).items():
    print(ptr)

(datetime.date(2022, 1, 1), "Año Nuevo [New Year's Day]")
(datetime.date(2022, 2, 7), 'Día de la Constitución [Constitution Day] (Observed)')
(datetime.date(2022, 2, 5), 'Día de la Constitución [Constitution Day]')
(datetime.date(2022, 3, 21), "Natalicio de Benito Juárez [Benito Juárez's birthday] (Observed)")
(datetime.date(2022, 5, 1), 'Día del Trabajo [Labour Day]')
(datetime.date(2022, 5, 2), 'Día del Trabajo [Labour Day] (Observed)')
(datetime.date(2022, 9, 16), 'Día de la Independencia [Independence Day]')
(datetime.date(2022, 11, 21), 'Día de la Revolución [Revolution Day] (Observed)')
(datetime.date(2022, 11, 20), 'Día de la Revolución [Revolution Day]')
(datetime.date(2022, 12, 25), 'Navidad [Christmas]')
(datetime.date(2022, 12, 26), 'Transmisión del Poder Ejecutivo Federal [Change of Federal Government] (Observed)')

In [15]:
filtered_df = df_Final.loc[(df_Final['business_date'] == '2022-02-07')]
filtered_df

,name,rooms_occupied,available_rooms,rooms_revenue,business_date,week_day_name,day,month,year,postal_code,holidays
768,Wyndham Garden Celaya,0,150,0.00000,2022-02-07,Monday,7,2,2022,38017,False
1650,ExHacienda San Xavier,0,155,0.00000,2022-02-07,Monday,7,2,2022,36020,False
2532,Wyndham Garden Irapuato,0,102,0.00000,2022-02-07,Monday,7,2,2022,36640,False
3414,Wyndham Garden León,0,126,0.00000,2022-02-07,Monday,7,2,2022,37530,False
4296,Wyndham Garden Silao,0,143,0.00000,2022-02-07,Monday,7,2,2022,36270,False
5178,City Express Chihuahua,0,104,0.00000,2022-02-07,Monday,7,2,2022,311110,False
6060,Hotel Chihuahua Tecnológico Norte,0,105,0.00000,2022-02-07,Monday,7,2,2022,31109,False
6941,Holiday Inn Ciudad Juárez,107,196,169823.72000,2022-02-07,Monday,7,2,2022,32617,False
7823,Aloft Playa del Carmen,0,165,0.00000,2022-02-07,Monday,7,2,2022,77710,False
8705,Wyndham Garden Playa del Carmen,122,196,116107.89000,2022-02-07,Monday,7,2,2022,77710,False
9587,Tribute Tulum,0,102,0.00000,2022-02-07,Monday,7,2,2022,77780,False
10469,Courtyard by Marriott Chihuahua,85,152,161153.01000,2022-02-07,Monday,7,2,2022,31110,False
11351,Casa Grande Delicias,17,88,21419.06000,2022-02-07,Monday,7,2,2022,33000,False
12233,Microtel Inn & Suites by Wyndham Chihuahua,32,108,24040.17000,2022-02-07,Monday,7,2,2022,31250,False
13115,Hampton by Hilton Chihuahua,0,190,0.00000,2022-02-07,Monday,7,2,2022,31236,False
13997,Casa Grande Chihuahua,34,115,29759.82000,2022-02-07,Monday,7,2,2022,31160,False
14879,Aloft Guadalajara Punto Sur,0,175,0.00000,2022-02-07,Monday,7,2,2022,44648,False
15761,Aloft Guadalajara,0,142,0.00000,2022-02-07,Monday,7,2,2022,44610,False
16643,Wyndham Garden Guadalajara Andares,66,186,94381.65000,2022-02-07,Monday,7,2,2022,45116,False
17511,AC Hoteles by Marriott Guadalajara Expo,49,180,53292.70000,2022-02-07,Monday,7,2,2022,45050,False
18393,Holiday Inn & Suites Guadalajara Centro Histórico,0,90,0.00000,2022-02-07,Monday,7,2,2022,44100,False
19275,JW Guadalajara,0,191,0.00000,2022-02-07,Monday,7,2,2022,44610,False
20157,Holiday Inn Express Guadalajara Autónoma,0,199,0.00000,2022-02-07,Monday,7,2,2022,45110,False
21039,Staybridge Suites Guadalajara Expo,88,117,104901.57000,2022-02-07,Monday,7,2,2022,45050,False
21921,Hampton by Hilton Hermosillo,62,151,68562.06000,2022-02-07,Monday,7,2,2022,83270,False
22803,Microtel Inn & Suites by Wyndham Ciudad Juárez,68,113,101079.96000,2022-02-07,Monday,7,2,2022,32668,False
23685,Holiday Inn Express & Suites Ciudad Juárez,148,182,252967.50000,2022-02-07,Monday,7,2,2022,32528,False
24567,AC Hotel by Marriot Santa Fe,28,168,34650.47000,2022-02-07,Monday,7,2,2022,5348,False
25449,Holiday Inn México Coyoacán,0,214,0.00000,2022-02-07,Monday,7,2,2022,03300,False
26331,Holiday Inn & Suites Mérida La Isla,0,93,0.00000,2022-02-07,Monday,7,2,2022,97305,False
27213,Fairfield Inn & Suites by Marriott Coatzacoalcos,0,180,0.00000,2022-02-07,Monday,7,2,2022,96537,False
28095,Crowne Plaza Monterrey Aeropuerto,96,219,171876.16000,2022-02-07,Monday,7,2,2022,66626,False
28974,Hampton by Hilton Monterrey Galerías Obispado,108,223,140092.05000,2022-02-07,Monday,7,2,2022,64060,False
29855,JW Monterrey,62,250,315905.81000,2022-02-07,Monday,7,2,2022,66265,False
30737,Wyndham Garden Monterrey Valle Real,29,85,29892.82000,2022-02-07,Monday,7,2,2022,64650,False
31619,The Westin Monterrey Valle,71,174,258193.85000,2022-02-07,Monday,7,2,2022,66220,False
32501,Holiday Inn Express & Suites Monterrey Aeropuerto,44,198,61263.27000,2022-02-07,Monday,7,2,2022,66626,False
33383,Holiday Inn Monterrey Valle,79,198,123425.49000,2022-02-07,Monday,7,2,2022,66270,False
34265,Courtyard by Marriot Puebla,23,154,17411.53000,2022-02-07,Monday,7,2,2022,72400,False
35147,Courtyard by Marriot Puebla (Descontinuado),23,154,17411.53000,2022-02-07,Monday,7,2,2022,72400,False
36029,Marriott Puebla,37,296,59424.25000,2022-02-07,Monday,7,2,2022,72116,False
36911,Aloft Celaya,0,192,0.00000,2022-02-07,Monday,7,2,2022,38088,False
37793,Hampton by Hilton Querétaro,33,178,35625.60000,2022-02-07,Monday,7,2,2022,76100,False
38671,Hampton by Hilton Reynosa,52,145,64043.69000,2022-02-07,Monday,7,2,2022,88730,False
39553,Holiday Inn Reynosa Industrial Poniente,30,95,40989.05000,2022-02-07,Monday,7,2,2022,88730,False
40432,Courtyard by Marriott Saltillo,0,180,0.00000,2022-02-07,Monday,7,2,2022,25279,False
41314,Hampton by Hilton Saltillo,77,227,86304.30000,2022-02-07,Monday,7,2,2022,25270,False
42196,Holiday Inn Express Saltillo,83,180,93168.15000,2022-02-07,Monday,7,2,2022,25270,False
43078,Holiday Inn Tampico Altamira,72,203,86721.65000,2022-02-07,Monday,7,2,2022,89609,False
43959,Holiday Inn Express Toluca Tollocan,25,127,25968.17000,2022-02-07,Monday,7,2,2022,50160,False
44841,Microtel Inn & Suites by Wyndham Toluca,23,129,13964.57000,2022-02-07,Monday,7,2,2022,50200,False
45723,Holiday Inn Express & Suites Toluca Aeropuerto,86,268,92530.68000,2022-02-07,Monday,7,2,2022,52000,False
46604,Hampton by Hilton Torreón Aeropuerto,61,151,62517.26000,2022-02-07,Monday,7,2,2022,27019,False

## Exploratory Data Analysis

In [16]:
# Observar tipo de datos de las columnas
df_Final.dtypes

name                       object
rooms_occupied              int64
available_rooms             int64
rooms_revenue              object
business_date      datetime64[ns]
week_day_name              object
day                         int64
month                       int64
year                        int64
postal_code                object
holidays                     bool
dtype: object

In [17]:
# Definir business_date como index y ordenarlo
df_Final = df_Final.set_index('business_date')
df_Final = df_Final.sort_index()
df_Final

,name,rooms_occupied,available_rooms,rooms_revenue,week_day_name,day,month,year,postal_code,holidays
business_date,,,,,,,,,,
2020-01-01,Wyndham Garden Celaya,0,150,0.00000,Wednesday,1,1,2020,38017,False
2020-01-01,Aloft Celaya,3,192,1840.30000,Wednesday,1,1,2020,38088,False
2020-01-01,Casa Grande Delicias,32,88,48471.28000,Wednesday,1,1,2020,33000,False
2020-01-01,Hampton by Hilton Querétaro,56,178,62206.65000,Wednesday,1,1,2020,76100,False
2020-01-01,Courtyard by Marriott Chihuahua,30,152,37811.93000,Wednesday,1,1,2020,31110,False
...,...,...,...,...,...,...,...,...,...,...
2022-05-31,Holiday Inn Express Toluca Tollocan,72,127,79310.55000,Tuesday,31,5,2022,50160,False
2022-05-31,City Express Chihuahua,0,104,0.00000,Tuesday,31,5,2022,311110,False
2022-05-31,Holiday Inn Express Guadalajara Autónoma,0,199,0.00000,Tuesday,31,5,2022,45110,False
2022-05-31,Wyndham Garden Playa del Carmen,0,196,0.00000,Tuesday,31,5,2022,77710,False
2022-05-31,Hampton by Hilton Torreón Aeropuerto,104,151,112550.25000,Tuesday,31,5,2022,27019,False

In [18]:
# Definir como DatetimeIndex df_Final.index
df_Final.index = pd.DatetimeIndex(df_Final.index)

In [19]:
# Observar el indice del Dataframe
df_Final.index

DatetimeIndex(['2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01', '2020-01-01', '2020-01-01',
               '2020-01-01', '2020-01-01',
               ...
               '2022-05-31', '2022-05-31', '2022-05-31', '2022-05-31',
               '2022-05-31', '2022-05-31', '2022-05-31', '2022-05-31',
               '2022-05-31', '2022-05-31'],
              dtype='datetime64[ns]', name='business_date', length=46718, freq=None)

In [20]:
# Observar si hay filas con valores faltantes
print(f"Number of rows with missing values: {df_Final.isnull().any(axis=1).mean()}")

Number of rows with missing values: 0.0

In [21]:
# Eliminar nulos
df_Final = df_Final.dropna()

In [22]:
# Dejar las filas donde rooms_occupied sea diferente a 0
df_Final= df_Final[df_Final['rooms_occupied'] != 0]
df_Final

,name,rooms_occupied,available_rooms,rooms_revenue,week_day_name,day,month,year,postal_code,holidays
business_date,,,,,,,,,,
2020-01-01,Aloft Celaya,3,192,1840.30000,Wednesday,1,1,2020,38088,False
2020-01-01,Casa Grande Delicias,32,88,48471.28000,Wednesday,1,1,2020,33000,False
2020-01-01,Hampton by Hilton Querétaro,56,178,62206.65000,Wednesday,1,1,2020,76100,False
2020-01-01,Courtyard by Marriott Chihuahua,30,152,37811.93000,Wednesday,1,1,2020,31110,False
2020-01-01,Hampton by Hilton Reynosa,32,145,41879.70000,Wednesday,1,1,2020,88730,False
...,...,...,...,...,...,...,...,...,...,...
2022-05-31,Courtyard by Marriott Chihuahua,150,152,284637.84000,Tuesday,31,5,2022,31110,False
2022-05-31,Hampton by Hilton Querétaro,39,178,44776.58000,Tuesday,31,5,2022,76100,False
2022-05-31,Holiday Inn Express Saltillo,118,180,148267.99000,Tuesday,31,5,2022,25270,False
2022-05-31,Holiday Inn Express Toluca Tollocan,72,127,79310.55000,Tuesday,31,5,2022,50160,False
2022-05-31,Hampton by Hilton Torreón Aeropuerto,104,151,112550.25000,Tuesday,31,5,2022,27019,False

In [26]:
"""holidays = ['2022-01-01', '2022-02-07', '2022-02-05', '2022-03-21', '2022-05-01', '2022-05-02', '2022-09-16', '2022-11-21', '2022-11-20', '2022-12-25', '2022-12-26']

for i in df_Final:
    for j in holidays:
        if(df_Final['holidays'][i] == holidays[j]):
            df_Final['holidays'][i] == True 
    

df_Final"""

"holidays = ['2022-01-01', '2022-02-07', '2022-02-05', '2022-03-21', '2022-05-01', '2022-05-02', '2022-09-16', '2022-11-21', '2022-11-20', '2022-12-25', '2022-12-26']\n\nfor i in df_Final:\n    for j in holidays:\n        if(df_Final['holidays'][i] == holidays[j]):\n            df_Final['holidays'][i] == True \n    \n\ndf_Final"

In [55]:
# Agrupar rooms_occupied por promedio por dia
df = df_Final.groupby([pd.Grouper(level=0, freq='D')])['rooms_occupied'].mean()
df =  pd.DataFrame(df)
df.reset_index(inplace=True)
df

    business_date  rooms_occupied
0      2020-01-01       45.470588
1      2020-01-02       50.352941
2      2020-01-03       52.970588
3      2020-01-04       51.484848
4      2020-01-05       43.941176
..            ...             ...
877    2022-05-27       97.133333
878    2022-05-28      101.700000
879    2022-05-29       67.633333
880    2022-05-30       86.833333
881    2022-05-31      100.500000

[882 rows x 2 columns]

In [56]:
import holidays
mexico_holiday = holidays.MEX()
df['Holiday'] = df['business_date'].dt.date.astype('datetime64').isin(mexico_holiday)
df = df.set_index('business_date')
df = df.sort_index()
df

               rooms_occupied  Holiday
business_date
2020-01-01          45.470588    False
2020-01-02          50.352941    False
2020-01-03          52.970588    False
2020-01-04          51.484848    False
2020-01-05          43.941176    False
...                       ...      ...
2022-05-27          97.133333    False
2022-05-28         101.700000    False
2022-05-29          67.633333    False
2022-05-30          86.833333    False
2022-05-31         100.500000    False

[882 rows x 2 columns]

In [57]:
df['Holiday'].unique()

array([False])

In [31]:
# Crear nuevo Dataframe para el manejo de datos en Prohet
df_Prophet = df_Final.groupby([pd.Grouper(level=0, freq='D')])['rooms_occupied'].mean()
df_Prophet = pd.DataFrame(df_Prophet)
df_Prophet.reset_index(inplace=True)
df_Prophet

    business_date  rooms_occupied
0      2020-01-01       45.470588
1      2020-01-02       50.352941
2      2020-01-03       52.970588
3      2020-01-04       51.484848
4      2020-01-05       43.941176
..            ...             ...
877    2022-05-27       97.133333
878    2022-05-28      101.700000
879    2022-05-29       67.633333
880    2022-05-30       86.833333
881    2022-05-31      100.500000

[882 rows x 2 columns]

In [ ]:
# División de datos
df_Final = df_Final.loc['2020-01-01': '2022-05-31']
end_train = '2021-10-31'
end_validation = '2022-03-31'
df_Final_train = df_Final.loc[: end_train, :]
df_Final_val   = df_Final.loc[end_train:end_validation, :]
df_Final_test  = df_Final.loc[end_validation:, :]

print(f"Train dates      : {df_Final_train.index.min()} --- {df_Final_train.index.max()}")
print(f"Validation dates : {df_Final_val.index.min()} --- {df_Final_val.index.max()}")
print(f"Test dates       : {df_Final_test.index.min()} --- {df_Final_test.index.max()}")

In [ ]:
# Creación de gráfica
fig, ax = plt.subplots(figsize=(12, 4))
df_Final_train.rooms_occupied.plot(ax=ax, label='train', linewidth=1)
df_Final_val.rooms_occupied.plot(ax=ax, label='validation', linewidth=1)
df_Final_test.rooms_occupied.plot(ax=ax, label='test', linewidth=1)
ax.set_title('rooms_occupied')
ax.legend();

In [ ]:
# Gráfico de serie temporal con zoom
# ==============================================================================
zoom = ('2020-05-01 00:00:00','2020-06-01 00:00:00')

fig = plt.figure(figsize=(12, 6))
grid = plt.GridSpec(nrows=8, ncols=1, hspace=0.6, wspace=0)

main_ax = fig.add_subplot(grid[1:3, :])
zoom_ax = fig.add_subplot(grid[5:, :])

df_Final.rooms_occupied.plot(ax=main_ax, c='black', alpha=0.5, linewidth=0.5)
min_y = min(df_Final.rooms_occupied)
max_y = max(df_Final.rooms_occupied)
main_ax.fill_between(zoom, min_y, max_y, facecolor='blue', alpha=0.5, zorder=0)
main_ax.set_xlabel('')

df_Final.loc[zoom[0]: zoom[1]].rooms_occupied.plot(ax=zoom_ax, color='blue', linewidth=2)

main_ax.set_title(f' rooms_occupied: {df_Final.index.min()}, {df_Final.index.max()}', fontsize=14)
zoom_ax.set_title(f' rooms_occupied: {zoom}', fontsize=14)
plt.subplots_adjust(hspace=1)

In [ ]:
# Boxplot para la estacionalidad anual
# ==============================================================================
fig, ax = plt.subplots(figsize=(7, 3.5))
df_Final['month'] = df_Final.index.month
df_Final.boxplot(column='rooms_occupied', by='month', ax = ax)
df_Final.groupby('month')['rooms_occupied'].median().plot(style='o-', linewidth=0.8, ax=ax)
ax.set_ylabel('rooms_occupied')
ax.set_title('rooms_occupied distribution by month')
fig.suptitle('');

In [ ]:
# Boxplot para estacionalidad semanal (1=lunes, 7=domingo)
# ==============================================================================
fig, ax = plt.subplots(figsize=(7, 3.5))
df_Final['week_day_name'] = df_Final.index.day_of_week + 1
df_Final.boxplot(column='rooms_occupied', by='week_day_name', ax=ax)
df_Final.groupby('week_day_name')['rooms_occupied'].median().plot(style='o-', linewidth=0.8, ax=ax)
ax.set_ylabel('rooms_occupied')
ax.set_title('rooms_occupied distribution by week day')
fig.suptitle('');

# Training autoregressive models

In [ ]:
# Importar librerias
from sklearn.linear_model import Ridge
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.neighbors import KNeighborsRegressor
import lightgbm as lgb
from lightgbm import LGBMRegressor
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error
from skforecast.ForecasterAutoreg import ForecasterAutoreg
from skforecast.ForecasterAutoregMultiOutput import ForecasterAutoregMultiOutput
from skforecast.model_selection import grid_search_forecaster
from skforecast.model_selection import backtesting_forecaster

In [ ]:
# División de datos
df = df.loc['2020-01-01': '2022-05-31']
end_train = '2021-10-31'
end_validation = '2022-05-31'
df_train = df.loc[: end_train, :]
df_val   = df.loc[end_train:end_validation, :]
df_test  = df.loc[end_validation:, :]


print(f"Train dates      : {df_train.index.min()} --- {df_train.index.max()}")
print(f"Validation dates : {df_val.index.min()} --- {df_val.index.max()}")
print(f"Test dates       : {df_test.index.min()} --- {df_test.index.max()}")

In [ ]:
# Pronóstico
forecaster = ForecasterAutoreg(regressor = make_pipeline(StandardScaler(), Ridge()),lags = 24)
forecaster2 = ForecasterAutoreg(regressor = make_pipeline(StandardScaler(), KNeighborsRegressor()),lags = 24)
forecaster3 = ForecasterAutoreg(regressor = make_pipeline(StandardScaler(), DecisionTreeRegressor()),lags = 24)


forecaster.fit(y=df.loc[:, 'rooms_occupied'])
forecaster2.fit(y=df.loc[:, 'rooms_occupied'])
forecaster3.fit(y=df.loc[:, 'rooms_occupied'])

print(forecaster)
print(forecaster2)
print(forecaster3)

In [ ]:
# Backtest Ridge
# ==============================================================================
metric, predictions = backtesting_forecaster(
                            forecaster = forecaster,
                            y          = df.rooms_occupied,
                            initial_train_size = len(df.loc[:end_train]),
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = True
                       )

In [ ]:
# Backtest KNeighborsRegressor
# ==============================================================================
metric2, predictions2 = backtesting_forecaster(
                            forecaster = forecaster2,
                            y          = df.rooms_occupied,
                            initial_train_size = len(df.loc[:end_train]),
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = True
                       )

In [ ]:
# Backtest Decision Tree
# ==============================================================================
metric3, predictions3 = backtesting_forecaster(
                            forecaster = forecaster3,
                            y          = df.rooms_occupied,
                            initial_train_size = len(df.loc[:end_train]),
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = True
                       )

In [ ]:
# Plot1
# ==============================================================================
fig, ax = plt.subplots(figsize=(12, 3.5))
df.loc[predictions.index, 'rooms_occupied'].plot(ax=ax, linewidth=2, label='real')
predictions.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real')
ax.legend();

In [ ]:
# Plot2
# ==============================================================================
fig, ax = plt.subplots(figsize=(12, 3.5))
df.loc[predictions2.index, 'rooms_occupied'].plot(ax=ax, linewidth=2, label='real')
predictions2.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real ')
ax.legend();

In [ ]:
# Plot3
# ==============================================================================
fig, ax = plt.subplots(figsize=(12, 3.5))
df.loc[predictions3.index, 'rooms_occupied'].plot(ax=ax, linewidth=2, label='real')
predictions3.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real')
ax.legend();

In [ ]:

print(f'Ridge MAE: {metric}')
print(f'KNeighborsRegressor MAE: {metric2}')
print(f'Decision Tree MAE: {metric3}')

## Predictions with pipelines

### Hyperparameter tuning using Grid Search

In [ ]:
# Definir secuencia de mecanismos de procesamiento de datos
pipeline = make_pipeline(StandardScaler(), Ridge())
pipeline

In [ ]:
# Hiperparámetro Grid search Ridge
# ==============================================================================
forecaster = ForecasterAutoreg(
                    regressor = pipeline,
                    lags      = 24 # This value will be replaced in the grid search
             )

# Lags utilizados como predictores
lags_grid = [5, 24, [1, 2, 3, 23, 24, 25, 47, 48, 49]] # 5 = last 5 hours, 24 = last 24 hours, [1,2,3,..,48,49] = those particular hours

# Hiperparámetros del regresor
param_grid = {'ridge__alpha': np.logspace(-3, 5, 10)}

results_grid = grid_search_forecaster(
                        forecaster  = forecaster,
                        y           = df.loc[:end_validation, 'rooms_occupied'],
                        param_grid  = param_grid,
                        lags_grid   = lags_grid,
                        steps       = 24,
                        metric      = 'mean_absolute_error',
                        refit       = False,
                        initial_train_size = len(df[:end_train]),
                        fixed_train_size   = False,
                        return_best = True,
                        verbose     = False
                 )

In [ ]:
# Backtest final model Ridge
# ==============================================================================
metric, predictions = backtesting_forecaster(
                            forecaster = forecaster,
                            y          = df.rooms_occupied,
                            initial_train_size = len(df[:end_train]),
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = False
                      )

fig, ax = plt.subplots(figsize=(12, 3.5))
df.loc[predictions.index, 'rooms_occupied'].plot(linewidth=2, label='real', ax=ax)
predictions.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real')
ax.legend();

In [ ]:
# Definir secuencia de mecanismos de procesamiento de datos
pipeline = make_pipeline(StandardScaler(), KNeighborsRegressor())
pipeline

In [ ]:
# Hiperparámetro Grid search Kneighbors
# ==============================================================================

forecaster2 = ForecasterAutoreg(
                  
                    regressor = pipeline,
                    lags      = 24 # This value will be replaced in the grid search
             )

# Lags utilizados como predictores
lags_grid = [5, 24, [1, 2, 3, 23, 24, 25, 47, 48, 49]] # 5 = last 5 hours, 24 = last 24 hours, [1,2,3,..,48,49] = those particular hours

# Hiperparámetros del regresor
param_grid = {'kneighborsregressor__n_neighbors': range(1,3) , 'kneighborsregressor__leaf_size': range(1,3)}

results_grid = grid_search_forecaster(
                        forecaster  = forecaster2,
                        y           = df.loc[:end_validation, 'rooms_occupied'],
                        param_grid  = param_grid,
                        lags_grid   = lags_grid,
                        steps       = 24,
                        metric      = 'mean_absolute_error',
                        refit       = False,
                        initial_train_size = len(df[:end_train]),
                        fixed_train_size   = False,
                        return_best = True,
                        verbose     = False
                 )

In [ ]:
# Backtest final model DT
# ==============================================================================
metric2, predictions2 = backtesting_forecaster(
                            forecaster = forecaster2,
                            y          = df.rooms_occupied,
                            initial_train_size = len(df[:end_train]),
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = False
                      )

fig, ax = plt.subplots(figsize=(12, 3.5))
df.loc[predictions2.index, 'rooms_occupied'].plot(linewidth=2, label='real', ax=ax)
predictions2.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real')
ax.legend();

In [ ]:
# Definir secuencia de mecanismos de procesamiento de datos
pipeline = make_pipeline(StandardScaler(),  DecisionTreeRegressor())
pipeline

In [ ]:
# Hiperparámetro Grid search DecisionTreeRegressor
# ==============================================================================

forecaster3 = ForecasterAutoreg(
                  
                    regressor = pipeline,
                    lags      = 24 # This value will be replaced in the grid search
             )


# Lags utilizados como predictores
lags_grid = [5, 24, [1, 2, 3, 23, 24, 25, 47, 48, 49]] # 5 = last 5 hours, 24 = last 24 hours, [1,2,3,..,48,49] = those particular hours

# Hiperparámetros del regresor
param_grid = {'decisiontreeregressor__max_leaf_nodes': range(2,10), 'decisiontreeregressor__max_leaf_nodes': range(2,5)}

results_grid = grid_search_forecaster(
                        forecaster  = forecaster3,
                        y           = df.loc[:end_validation, 'rooms_occupied'],
                        param_grid  = param_grid,
                        lags_grid   = lags_grid,
                        steps       = 24,
                        metric      = 'mean_absolute_error',
                        refit       = False,
                        initial_train_size = len(df[:end_train]),
                        fixed_train_size   = False,
                        return_best = True,
                        verbose     = False
                 )

In [ ]:
# Backtest final model
# ==============================================================================
metric3, predictions3 = backtesting_forecaster(
                            forecaster = forecaster3,
                            y          = df.rooms_occupied,
                            initial_train_size = len(df[:end_train]),
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = False
                      )

fig, ax = plt.subplots(figsize=(12, 3.5))
df.loc[predictions3.index, 'rooms_occupied'].plot(linewidth=2, label='real', ax=ax)
predictions3.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real rooms_occupied')
ax.legend();

In [ ]:
## Nuevas predicciones con Ridge
steps = 36
predictions = forecaster.predict(steps=steps)

predictions.head(5)

In [ ]:
# Nuevas predicciones con Ridge
fig, ax = plt.subplots(figsize=(9, 4))
df['rooms_occupied'].plot(ax=ax, label='train')
predictions.plot(ax=ax, label='predictions')
ax.legend();

In [ ]:
# Nuevas predicciones con KNeighborsRegressor
steps = 36
predictions2 = forecaster2.predict(steps=steps)
predictions2.head(5)

fig, ax = plt.subplots(figsize=(9, 4))
df['rooms_occupied'].plot(ax=ax, label='train')
predictions2.plot(ax=ax, label='predictions')
ax.legend();

In [ ]:
# Nuevas predicciones con Decision Tree
steps = 36
predictions3 = forecaster3.predict(steps=steps)
predictions3.head(5)
fig, ax = plt.subplots(figsize=(9, 4))
df['rooms_occupied'].plot(ax=ax, label='train')
predictions3.plot(ax=ax, label='predictions')
ax.legend();

# Prophet testing

In [ ]:
!pip install fbprophet
#pip install plotly
#conda install -c anaconda ephem
#conda install -c conda-forge pystan
#conda install -c conda-forge fbprophet
#conda install libpython m2w64-toolchain -c msys2
#pip install holidays==0.9.12

In [ ]:
from prophet import Prophet
import datetime

In [ ]:
# Graficamos la serie de tiempo conforme al promedio del precio del aguacate
plt.figure(figsize=(15,10))
plt.plot(df_Prophet['business_date'],df_Prophet['rooms_occupied'])

In [ ]:
# Cambiamos el nombre de las columnas
df1 = df_Prophet
df1.columns = ['ds','y']
df1.head()

In [ ]:
# Observar tipo de dato
df1.dtypes

In [ ]:
# Dejar datos a partir de 2020-05-01
df1 = df1[df1['ds']> pd.to_datetime('2020-05-01')]

In [ ]:
# Observar df1 
df1

In [ ]:
# Predicción con Prophet
m = Prophet()
m.fit(df1)

#predecimos un año adelante
future = m.make_future_dataframe(periods=365)

#El data frame toma en cuenta la última fecha así que si la ultima fue 25/3/2018 entonces el futuro será hasta 25/3/2019
forecast = m.predict(future)

In [ ]:
# Información del pronóstico
forecast.info()

In [ ]:
# las primeras cinco filas de las fechas de pronóstico
forecast.head()

In [ ]:
# Graficar el pronóstico
figure = m.plot(forecast,xlabel='Date',ylabel='Rooms')

In [ ]:
# Imprimimos los componentes tendencia y estacionalidad
figure = m.plot_components(forecast)

In [ ]:
# Ahora analizaremos una region en especifico 

# df1 = dataset[dataset['region']=='West']
# df1.head()

df1 =  df1.sort_values('ds')
plt.figure(figsize=(15,10))
plt.plot(df1['ds'],df1['y'])

df1 = df1[['ds','y']]

# Cambiamos el nombre de las columnas
df1.columns = ['ds','y']
df1.head()

# Prediccion
m = Prophet()
m.fit(df1)

#Predecimos un año
#x_test
future = m.make_future_dataframe(periods=365)
forecast = m.predict(future)
forecast

figure = m.plot(forecast,xlabel='Fecha',ylabel='habitaciones')

figure = m.plot_components(forecast)

In [ ]:
# Change points
# Prophet detecta los change points y selecciona los principales
from prophet.plot import add_changepoints_to_plot
fig = m.plot(forecast)
a = add_changepoints_to_plot(fig.gca(), m, forecast)

In [ ]:
# Conoce los changepoints
m.changepoints

In [ ]:
# Observar grafico 
deltas = m.params['delta'].mean(0)
fig = plt.figure(facecolor='w')
ax = fig.add_subplot(111)
ax.bar(range(len(deltas)), deltas)
ax.grid(True, which='major', c='gray', ls='-', lw=1, alpha=0.2)
ax.set_ylabel('Tasa de cambio')
ax.set_xlabel('Potencial changepoint')
fig.tight_layout()

In [ ]:
# Ajustar grafico con los puntos de cambio 
pro_change= Prophet(changepoint_range=0.95, yearly_seasonality=True)
forecast = pro_change.fit(df1).predict(future)
fig= pro_change.plot(forecast);
a = add_changepoints_to_plot(fig.gca(), pro_change, forecast)

In [ ]:
#Directamente diciendole cuantos puntos
pro_change= Prophet(n_changepoints=50, yearly_seasonality=True)
forecast = pro_change.fit(df1).predict(future)
fig= pro_change.plot(forecast);
a = add_changepoints_to_plot(fig.gca(), pro_change, forecast)

In [ ]:
# Ajustar grafico con los puntos de cambio 
pro_change = Prophet(n_changepoints=20, yearly_seasonality=True, changepoint_prior_scale=0.08)
forecast = pro_change.fit(df1).predict(future)
fig= pro_change.plot(forecast);
a = add_changepoints_to_plot(fig.gca(), pro_change, forecast)

In [ ]:
# Ajustar grafico con los puntos de cambio 
pro_change = Prophet(n_changepoints=20, yearly_seasonality=True, changepoint_prior_scale=0.001)
forecast = pro_change.fit(df1).predict(future)
fig= pro_change.plot(forecast);
a = add_changepoints_to_plot(fig.gca(), pro_change, forecast)

# Training with exogenous factors

In [ ]:
mexican_holidays = holidays.MX()
  
# Print all the holidays in UnitedKingdom in year 2018
for ptr in holidays.MX(years = 2022).items():
    print(ptr)

In [ ]:
mx_holidays = []

for date in holidays.MX(years = 2022).items():
    mx_holidays.append(str(date[0]))
    
print(mx_holidays, end=', ')

In [ ]:
mx_holidays = []

In [ ]:
mexican_holidays = pd.DataFrame({
  'holiday': 'mexican_holidays',
  'ds': pd.to_datetime(['2022-01-01', '2022-02-07', '2022-02-05', '2022-03-21', '2022-05-01', '2022-05-02', '2022-09-16', '2022-11-21', '2022-11-20', '2022-12-25', '2022-12-26']),
  'lower_window': -1,
  'upper_window': 0,
})

In [ ]:
df1

In [ ]:
pro_holiday= Prophet(holidays=mexican_holidays)
pro_holiday.fit(df1) #utilizamos el dataframe más grande
future_data = pro_holiday.make_future_dataframe(periods=12, freq = 'm')
 
#forecast the data for future data
forecast_data = pro_holiday.predict(future_data)
pro_holiday.plot(forecast_data);

In [ ]:
"""# The Holiday column is converted from boolean to integer
df.loc[:,'Holiday'] = df['Holiday'].astype(int)
df_train.loc[:,'Holiday'] = df_train['Holiday'].astype(int)
df_test.loc[:,'Holiday'] = df_test['Holiday'].astype(int)"""

In [ ]:
# Create and train forecaster
# ==============================================================================
forecaster = ForecasterAutoreg(regressor = make_pipeline(StandardScaler(), Ridge(alpha=215.44)),lags = [1, 2, 3, 23, 24, 25, 47, 48, 49])

forecaster.fit(y=df.rooms_occupied[:end_validation], exog=df.Holiday[:end_validation])
forecaster

In [ ]:
# Backtest final model
# ==============================================================================
metric, predictions = backtesting_forecaster(
                            forecaster = forecaster,
                            y          = df.rooms_occupied,
                            initial_train_size = len(df[:end_validation]),
                            exog = df.Holiday,
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = False
                      )

fig, ax = plt.subplots(figsize=(12, 3.5))
df.loc[predictions.index, 'rooms_occupied'].plot(linewidth=2, label='real', ax=ax)
predictions.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real demand')
ax.legend();

In [ ]:
print(f'Backtest error: {metric}')

In [ ]:
# Creation of new exogenous variables
# ==============================================================================
# Since it is hourly data and starts at 00:00, the values must be shifted 
# by 24 hours
df.loc[:,'Holiday_day_before'] = df['Holiday'].shift(24)
df.loc[:,'Holiday_next_day']   = df['Holiday'].shift(-24)
df = df.dropna()

# One hot encoding of week_day and hour_day
df = pd.get_dummies(df, columns=['week_day', 'hour_day'])
df.head(3)

In [ ]:
# Create and train forecaster
# ==============================================================================
forecaster = ForecasterAutoreg(
                regressor = make_pipeline(StandardScaler(), Ridge(alpha=215.44)),
                lags      = [1, 2, 3, 23, 24, 25, 47, 48, 49],
             )

exog = [column for column in df.columns if column.startswith(('week_day', 'hour', 'Holiday'))]
forecaster.fit(y=df.rooms_occupied[: end_validation], exog=df[exog][: end_validation])

In [ ]:
metric, predictions = backtesting_forecaster(
                            forecaster = forecaster,
                            y          = df.rooms_occupied,
                            initial_train_size = len(df[:end_validation]),
                            exog = df.loc[:,exog],
                            fixed_train_size   = False,
                            steps      = 24,
                            metric     = 'mean_absolute_error',
                            refit      = False,
                            verbose    = False
                      )

fig, ax = plt.subplots(figsize=(12, 3.5))
df.loc[predictions.index, 'rooms_occupied'].plot(linewidth=2, label='real', ax=ax)
predictions.plot(linewidth=2, label='prediction', ax=ax)
ax.set_title('Prediction vs real demand')
ax.legend();

In [ ]:
print(f'Backtest error: {metric}')

# Evaluation measures

In [ ]:
# Calcular precisión
print(metrics.accuracy_score(y_test, y_pred))

In [ ]:
# Examine la distribución de clases del conjunto de prueba (usando un método de la serie Pandas)
y_test.value_counts()

In [ ]:
# Calcular el porcentaje de unos
# Debido a que y_test solo contiene unos y ceros, simplemente podemos calcular la media = porcentaje de unos
y_test.mean()

In [ ]:
# Calcular el porcentaje de ceros
1 - y_test.mean()

In [ ]:
# Calcular precisión nula en una sola línea de código
# Solo para problemas de clasificación binaria codificados como 0/1
max(y_test.mean(), 1 - y_test.mean())

In [ ]:
# Calcular precisión nula (para problemas de clasificación multiclase)
y_test.value_counts().head(1) / len(y_test)

In [ ]:
# Imprimir las primeras 25 respuestas verdaderas y predichas
print('True:', y_test.values[0:25])
print('False:', y_pred[0:25])

In [ ]:
# IMPORTANTE: el primer argumento son valores verdaderos, el segundo argumento son valores predichos
# Esto produce una matriz numpy de 2x2 (matriz)
print(metrics.confusion_matrix(y_test, y_pred))

In [ ]:
# Imprimir las primeras 25 respuestas verdaderas y predichas
print('True', y_test.values[0:25])
print('Pred', y_pred[0:25])

In [ ]:
# Guarde la matriz de confusión y córtela en cuatro partes
confusion = metrics.confusion_matrix(y_test, y_pred)
print(confusion)

# [row, column]
TP = confusion[1, 1]
TN = confusion[0, 0]
FP = confusion[0, 1]
FN = confusion[1, 0]

In [ ]:
# Usar float para realizar una división verdadera, no una división entera
print((TP + TN) / float(TP + TN + FP + FN))
print(metrics.accuracy_score(y_test, y_pred))

In [ ]:
# Con qué frecuencia el clasificador es incorrecto
classification_error = (FP + FN) / float(TP + TN + FP + FN)

print(classification_error)
print(1 - metrics.accuracy_score(y_test, y_pred))

In [ ]:
# Cuántos de los que son positivos, se predicen positivos
sensitivity = TP / float(FN + TP)

print(sensitivity)
print(metrics.recall_score(y_test, y_pred))

In [ ]:
# Cuántos de los que son negativos, se predicen negativos
specificity = TN / (TN + FP)

print(specificity)

In [ ]:
# Cuando el valor real es negativo, con qué frecuencia la predicción es incorrecta
false_positive_rate = FP / float(TN + FP)

print(false_positive_rate)
print(1 - specificity)

In [ ]:
# Cuántos de los que se predicen positivos son positivos
precision = TP / float(TP + FP)

print(precision)
print(metrics.precision_score(y_test, y_pred))